body {
  height: 1500px  ;
}
::selection {
  background-color: #ff4c3c;
  color: white;
}
header {
  font-family: Montserrat;
  font-size: 0.7rem;
  text-transform: uppercase;
}
header .logo-area img {
  width: 15%;
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
header .menu-area {
  width: 88vw;
  margin: 0 auto;
  position: relative;
  margin-bottom: 3rem;
}
header .menu-area .position-left {
  position: absolute;
  top: -20%;
  left: 0%;
  z-index: 2;
  float: left;
}
header .menu-area .position-left .fa-search {
  transform: scaleX(-1);
  margin-right: 0.5rem;
}
header .menu-area .position-left .input-custom {
  border: none;
  font-weight: 500;
}
header .menu-area .position-left .input-custom:focus {
  outline: 0;
}
header .menu-area .position-center {
  width: 88vw;
  margin: 0;
  padding: 0;
}
header .menu-area .position-center .nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 0.15rem;
}
header .menu-area .position-center .nav-menu .active {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid grey;
}
header .menu-area .position-center .nav-menu .nav-item {
  display: inline;
  margin: 0 1.5rem;
}
header .menu-area .position-center .nav-menu .nav-item .nav-item-link {
  text-decoration: none;
  color: #000;
  border-bottom: 0.2px solid transparent;
  transition: ease-in-out 0.4s;
}
header .menu-area .position-center .nav-menu .nav-item .nav-item-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: grey;
  transition: width 0.3s;
}
header .menu-area .position-center .nav-menu .nav-item .nav-item-link:hover::after {
  width: 100%;
}
header .menu-area .position-center .nav-menu .nav-item .dropdown-content {
  position: absolute;
  min-width: 190px;
  min-height: 200px;
  display: none;
  z-index: 10;
  left: 0;
  text-align: left !important;
  list-style-type: none;
  padding-top: 15vh;
  line-height: 2rem;
  background-color: white;
}
header .menu-area .position-center .nav-menu .nav-item .dropdown-content li {
  margin: 0 1rem;
}
header .menu-area .position-center .nav-menu .nav-item .dropdown-content .nav-item-link-dropdown {
  text-decoration: none;
  color: #000;
  border-bottom: 0.3px solid transparent;
  transition: ease-in-out 0.4s;
}
header .menu-area .position-center .nav-menu .nav-item .dropdown-content .nav-item-link-dropdown:hover {
  border-bottom: 0.5px solid #000;
}
header .menu-area .position-center .nav-menu .dropdown:hover .dropdown-content {
  display: block;
}
header .menu-area .position-right {
  position: absolute;
  float: right;
  top: -20%;
  right: 0;
  display: inline-flex;
  cursor: pointer;
}
header .menu-area .position-right .btn-cart {
  background-color: transparent;
  border: transparent;
  text-transform: uppercase;
  font-weight: 500;
}
header .menu-area .position-right .btn-cart:focus {
  outline: none;
}
header .menu-area .position-right .more-info .fa-shopping-bag {
  margin: 0 1rem;
  font-size: 1.5rem;
  align-items: center;
}
header .menu-area .position-right .more-info .fa-shopping-bag .value-cart {
  position: absolute;
  top: 0;
  right: 60%;
  width: 15px;
  height: 15px;
  background-color: red;
  text-align: center;
  border: transparent;
  border-radius: 50%;
}
header .menu-area .position-right .more-info .fa-shopping-bag .info-cart {
  position: absolute;
  color: white;
  font-size: 0.6rem;
  top: 20%;
  right: 28%;
  font-weight: 600;
}
header .menu-area .position-right .cart-view {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 300px;
  border: 1px solid #d6d6d6;
  padding: 1.5rem;
  display: none;
  z-index: 100;
  background-color: white;
  cursor: pointer;
}
header .menu-area .position-right .cart-view .top-cart .cart-item {
  display: flex;
  margin-bottom: 1rem;
  position: relative;
}
header .menu-area .position-right .cart-view .top-cart .cart-item .cart-image img {
  width: 57px;
  height: 73px;
  margin-right: 2rem;
}
header .menu-area .position-right .cart-view .top-cart .cart-item .info-item {
  font-weight: 500;
  padding-right: 3rem;
}
header .menu-area .position-right .cart-view .top-cart .cart-item .info-item .cart-item-name {
  font-size: 0.7rem;
}
header .menu-area .position-right .cart-view .top-cart .cart-item .info-item p {
  color: #999999;
}
header .menu-area .position-right .cart-view .top-cart .cart-item .info-item .quantity-input {
  width: 2rem;
  text-align: center;
}
header .menu-area .position-right .cart-view .top-cart .cart-item button {
  padding: 0.7rem;
  position: absolute;
  background-color: transparent;
  border: none;
  right: 0;
  top: 20%;
  transform: rotate(45deg);
  font-size: 1rem;
  color: #f34f3f;
}
header .menu-area .position-right .cart-view .top-cart .cart-item button:focus {
  outline: 0;
}
header .menu-area .position-right .cart-view .bottom-cart .total-cart {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
header .menu-area .position-right .cart-view .bottom-cart .total-cart h3 {
  font-size: 0.7rem;
  font-weight: 700;
}
header .menu-area .position-right .cart-view .bottom-cart .btn-check {
  display: flex;
  justify-content: space-between;
}
header .menu-area .position-right .cart-view .bottom-cart .btn-check button {
  padding: 0.8rem 2rem;
  border: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 500;
  color: white;
}
header .menu-area .position-right .cart-view .bottom-cart .btn-check button:focus {
  outline: none;
}
header .menu-area .position-right .cart-view .bottom-cart .btn-check .view-cart {
  background-color: #f34f3f;
}
header .menu-area .position-right .cart-view .bottom-cart .btn-check .view-cart:hover {
  background-color: #ff3d2a;
}
header .menu-area .position-right .cart-view .bottom-cart .btn-check .checkout {
  background-color: #000;
}
header .menu-area .position-right:hover .cart-view {
  display: block;
}
main .single-item {
  display: block;
  width: 1400px;
  height: 435px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 1.5rem;
}
main .single-item img {
  background-position: center;
}
main .single-item .sl-1 {
  position: relative;
}
main .single-item .sl-1 .caption-slide {
  position: absolute;
  left: 13%;
  top: 35%;
}
main .single-item .sl-1 .caption-slide h1 {
  font-family: "Lora-variable";
}
main .wrapper {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
main .wrapper p {
  font-family: "Lora";
  font-style: italic;
}
main .wrapper img {
  width: 200px;
  margin: auto;
}
footer {
  background-color: #fefaf3;
}
footer .myContainer {
  padding-top: 2.5rem;
}
footer .myContainer .footer-about {
  display: flex;
}
footer .myContainer .footer-about ul {
  list-style-type: none;
  margin-right: 15rem ;
}
footer .myContainer .footer-about ul h4 {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}
footer .myContainer .footer-about ul li {
  margin: 0.8rem 0;
  font-size: 0.7rem;
}
footer .myContainer .footer-about ul li a {
  color: #8b8b8b;
  text-decoration: none;
}
footer .myContainer .footer-about ul li a:hover {
  color: #f34f3f;
}
footer .myContainer-ft {
  padding: 0;
  width: 88vw;
  margin: 0 auto;
}
footer .myContainer-ft .footer-info {
  display: flex;
  justify-content: space-between;
}
footer .myContainer-ft .footer-info img {
  width: 15%;
}
footer .myContainer-ft .footer-info .social-footer .left {
  margin-right: 3rem;
}
footer .myContainer-ft .footer-info .social-footer a {
  color: #8b8b8b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 500;
}
footer .myContainer-ft .footer-info .social-footer :hover {
  color: #f34f3f;
}
